In [2]:
import pandas as pd

In [6]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

# The pd.concat Method, part 1

In [7]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [8]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [9]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [11]:
pd.concat(objs = [week1, week2]) #in order
pd.concat(objs = [week1, week2], ignore_index= True) #index gak ngulang pas week2, nyambung
#jgn lupa kalau mau inplace harus asign ke new variable

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
..           ...      ...
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

In [13]:
#alternative
week1.append(other = week2, ignore_index = True)

C:\Users\FELIXA~1\AppData\Local\Temp/ipykernel_18652/552204970.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  week1.append(other = week2, ignore_index = True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
..           ...      ...
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

# The pd.concat Method, part 2

In [14]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [17]:
sales = pd.concat(objs = [week1, week2], keys = ["Week 1", "Week 2"]) #otomatis buat keys sebagai multiindex dataframe, harus same length sama keys
sales.head(3)

          Customer ID  Food ID
Week 1 0          537        9
       1           97        4
       2          658        1

In [22]:
sales.loc[("Week 2", 240)] #week 2, index ke 240

sales.loc[("Week 2", 240), "Customer ID"] #resulting exact column
sales.loc[("Week 2", 240), ["Customer ID", "Food ID"]]

Customer ID    734
Food ID          1
Name: (Week 2, 240), dtype: int64

# Inner Joins part 1

In [23]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")